*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#ff0000;
}
body{
    position: relative;
    /* background: #000; */
    font-family: fantasy;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}