*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#ff0000;
}

/* Body Design */

body{
    position: relative;
    background: #000;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* Header Design */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(255, 255,255,0.5);
    z-index: 20;
}

.logo img{
    max-width: 60px;
     filter: invert(1);
}
.menu{
    color: #ffffff;
    font: 2em;
}

/* Nav bar design */
.nav{
    display: flex;
}

.nav li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

.nav li:hover a{
    color: var(--primary);
}

.nav-collapse{
    display: none;
}

.search{
    position: relative;
    width: 120px;
    height: 40px;
    transition: 0.5s;
}

.search:hover{
    width: 300px;
}

.search input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255,255,0.5);
    outline: none;
    border-radius: 7px;
    padding: 0 10px 0 5px;
    backdrop-filter: blur(10px);
}

.search input::placeholder{
    color: #fff;
    text-transform: uppercase;
    transform: translateY((5px));
    font-weight: 300;
}

.search ion-icon{
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    padding-left: 10px;
    border-left: 1px solid #000;   
    cursor: pointer;
}

/* Carousel Design */
.swiper{
    height: 100vh;
    width: 100%;
}

.swiper .swiper-wrapper{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.swiper .swiper-wrapper .swiper-slide{
        height: 100vh;
    width: 100%;
}

.swiper .swiper-wrapper .swiper-slide::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0,0.6);
}

.swiper .swiper-wrapper .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}